<!-- head para PC -->
{% extends "entries/base.html" %}
{% load  static %}

{% block content %}

{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x grid-margin-x" style="margin-top: 1em;">
        <!-- primer bloque pantalla blog -->
        <div class="cell small-12 large-8">

            <!-- bloque de buscador -->
            <form class="input-group" method="GET"> {% csrf_token %}
                <input class="input-group-field" id="kword" name="kword" type="text" placeholder="Buscar ...">
                <div class="input-group-button">
                  <input type="submit" class="button" value="Buscar">
                </div>
            </form>
            <!-- FIN bloque de formulario -->

            <!-- inicio bloque de resultados de busqueda -->
            <div class="grid-x grid-margin-x">
                {% for items in entries %}
                <div class="cell small-6 large-4">
                    <div class="card" style="width: 100%;">
                        <img src="{{items.image.url}}" style="height: 120px;">
                        <div class="card-section">
                            <h4><a href="{% url 'urls_entries:Entry' items.slug%}">{{items.title|truncatechars:16}}</a></h4>
                            <p class="changeColor">{{items.resume|truncatechars:100}}</p>
                        </div>
                    </div>
                </div>
                {% empty %}
                <h3> NO HAY RESULTADOS </h3>

                {% endfor %}
            </div>
            <!-- FIN bloque de resultados de busqueda -->

        </div>
        <!-- FIN primer bloque pantalla blog -->


        <!-- inicio del segundo bloque - categorias -->
        <div class="cell small-12 large-4" style="height: 500px;">
            <h4>Categorias</h4>
            <ul class="vertical menu">
                {% for category  in get_categories %}
                <li><a href="?categories={{category.short_name}}">{{category.name}}</a></li>
                {% endfor %}
                <li><a href="?categories=">Todas las categorias</a></li>
            </ul>
        </div>
        <!-- FIN inicio del segundo bloque - categorias -->
    
    </div>

    <!-- inicio de bloque de paginacion -->
    <div class="cell">
       {% if is_paginated %}
            <nav aria-label="Pagination">
                <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="pagination-previous">
                    <a href="?page={{page_obj.previous_page_number}}"> Atras </a>
                    </li>
                {% endif %}

                {% for page in paginator.page_range %}
                    {% ifequal page page_obj.number %}
                        <li class="current"><span class="show-for-sr">Pagina actual</span> {{page}}</li>
                    {% else %}
                        <li><a href="?page={{page}}" aria-label="Page">{{page}}</a></li>
                    {% endifequal %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="pagination-next"><a href="?page={{page_obj.next_page_number}}" aria-label="Next page">Siguiente <span class="show-for-sr">Pagina</span></a></li>
                {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
    <!-- FIN bloque de paginacion -->
</div>
{% include "includes/footer.html" %}

{% endblock content %}
