<!-- head para PC -->
{% extends "entries/base.html" %}
{% load  static %}

{% block title %}
    {{ entry.title }}
{% endblock title %}

{% block description %}
    <meta name="description" content="{{ entry.resume }}">
{% endblock description %}

{% block tags %}
    <meta name="keywords" content="
    {% for t in entry.tag.all %}
    {{ t.name}} ,
    {% endfor %}
    ">
{% endblock tags %}



{% block content %}
{% include "includes/header.html" %}
<div class="grid-container">
    <div class="grid-x grid-margin-x" style="margin-top: 1em;">
        <h3 class="cell">{{object.title}}</h3>

        <!-- bloque de contenido del articulo -->
        <div class="cell large-8">
            <div class="cell callout primary">
                <h5>Resumen:</h5>
                {% comment %} otra forma de llamar al contexto es con el nombre del modelo
                en minusculas {% endcomment %}
                <p>{{entry.resume}}</p>
            </div>
            <div>
            <p>{{entry.content|safe}}</p>
            </div>
        </div>
        <!-- FIN bloque contenido del articulo -->

        <!-- bloque llamada a la accion -->
        <div class="cell large-4">
            <div class="card" style="width: 100%;">
                <img src="https://neunapp.com/media/blog/header16.jpg">
                <div class="card-section" style="width: 100%;">
                  <form class="blog-action" action="{% url 'favorites_app:add-favorites' entry.id%}" method="POST"> {% csrf_token %}
                    <button type="submit" class="button alert">Agregar a Favoritos</button>
                  </form>
                </div>
            </div>
        </div>
        <!-- FIN bloque llamada a la accion -->

    </div>
</div>
{% include "includes/footer.html" %}

{% endblock content %}