.header {
    display: flex;
    align-items: center;
    background: #dfe6e9;
    padding: 0.5em 1em 0.5em 1em;
}
.blog-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-favoritos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: solid 1px green;
    padding: 1em;
    margin-bottom: 1em;
}
.profile-img {
    margin-left: 7px;
    width: 40px;
    height: 40px;
}
.circle-profile {
    border-radius: 50%;
}