{% load static %}
<link rel="stylesheet" href="{% static 'css/myCustom.css' %}">
<header>
    <div class="grid-x grid-margin-x header">
        <div class="cell small-12 medium-4 large-3">
            <a href="#" style="font-size: 20px; color: #0277bd;">
            SWITCHER
            </a>
        </div>
        <div class="cell small-12 medium-4">
            
        </div>
        <div class="cell small-12 large-5">
            <ul class="menu" style="justify-content: flex-end;">
                <li>
                    <a href="{% url 'home_app:home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'urls_entries:blog_list' %}">Blog</a>
                </li>
                <li>
                <!-- user es un contextProcesor utilizado en models y views-->
                    {% if not user.is_anonymous %}
                    <a href="{% url 'favorites_app:profile' %}" class="warning button">perfil</a>
                </li>
                <li>
                    <img class="profile-img circle-profile" src="{{image_profile.url}}" alt="">
                </li>
                <li>
                    {% else %}
                    <a href="{% url 'users_app:user-login' %}" class="success button">Acceder</a>
                </li> 
                <li>
                    <img class="profile-img" src="{{avatar.url}}" alt="">
                </li>
                {% endif %}
                
            </ul>
        </div>
    </div>
</header>