<!-- head para PC -->
{% extends "home/base.html" %}

{% load  static %}

{% block title %}
    {{about_me.title}}
{% endblock title %}

{% block description %}
    <meta name="description" content="{{about_me.description}}">
{% endblock description %}

{% block content %}
{% include "includes/header.html" %}
<div class="grid-container">
    <!-- primer bloque del home -->
    <div class="grid-x grid-margin-x" style="margin-top: 1em;">
        <!-- bloque de blog principal -->
        <div class="cell small-12 large-6">
            <div class="card" style="width: 100%;">
                <img src="{{cover.image.url}}">
                <div class="card-section">
                  <h4><a href="{% url 'urls_entries:Entry' cover.slug%}">{{cover.title}}</a></h4>
                  <p>{{cover.resume}}</p>
                </div>
            </div>
        </div>
        <!-- FIN bloque de blog principal -->
        <!-- bloque de blog principal -->
        <div class="cell small-12 large-6 grid-x grid-margin-x">
            {% for items in home_front_cover %}
            <div class="cell small-12 large-6">
                <div class="card" style="width: 100%;">
                    <img src="{{items.image.url}}" style="height: 140px;">
                    <div class="card-section">
                      <h5><a href="{% url 'urls_entries:Entry' items.slug %}">{{items.title|truncatechars:22}}</a></h5>
                      <p>{{items.resume|truncatechars:50}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- FIN bloque de blog principal -->
    </div>
    <!-- FIN del primer bloque home -->
    <!-- segundo bloque pantalla home -->
    <div class="grid-x align-center" style="margin-top: 1em;">
        <div class="cell small-12 large-10 callout secondary">
            <h5>{{about_me.about_title}}:</h5>
            <p>
                {{about_me.about_text}}
            </p>
            <p>
                <button class="button" data-open="exampleModal2">Suscribirme</button>
            </p>

            <!-- This is the first modal -->
            <div class="reveal" id="exampleModal2" data-reveal style="width: 300px;">
                <p class="lead">Ingresa tu correo</p>
                <form class="grid-x grid-margin-x" method="POST" action="{% url 'home_app:new_subscriber' %}"> {% csrf_token %}
                    <div class="cell small-12">
                        {{subscriber}}
                    </div>
                    <div class="cell small-12">
                        <button type="submit" class="success button">Suscribirme</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!-- FIN segundo bloque pantalla home -->


    <!-- tercer bloque home -->
    <div class="grid-x grid-margin-x align-center">
        <h3 class="cell">Articulos Recientes:</h3>
        {% for items_new in new_item_home %}
        <div class="cell small-6 large-4">
            <div class="card" style="width: 100%;">
                <img src="{{items_new.image.url}}"  style="height: 220px;">
                <div class="card-section">
                  <!-- <h4>{{items_new.title|truncatechars:22}}</h4> -->
                  <h4><a href="{% url 'urls_entries:Entry' items_new.slug %}">{{items_new.title|truncatechars:22}}</a></h4>
                  <p>{{items_new.resume|truncatechars:50}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- FIN tercer bloque -->
</div>
{% include "includes/footer.html" %}

{% endblock content %}