{% extends 'users/base.html' %}

{% block title %}
Verificacion de usuario Fallida
{% endblock title %}

{% block content %}
{% include 'includes/header.html' %}
    <div class="grid-container grid-y grid-padding-y">
        <div class="cell large-3 medium-3">
            <div class="callout primary">
                <div class="grid-y grid-padding-y">
                    <h2>La contraseña original a sido ingresada de forma incorrecta</h2>
                </div>
            </div>
        </div>
    </div>

        
{% include 'includes/footer.html' %}
{% endblock content %}