<!-- head para PC -->
{% extends "users/base.html" %}
{% load  static %}

{% block content %}

{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <div class="cell medium-6 large-4" style="margin-top: 2em;">
            <div class="card" style="width: 100%;">
                <div class="card-divider">
                  <h4>Acceso de usuario</h4>
                </div>
                <div class="card-section">
                    <form class="grid-x grid-margin-x" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                        <div class="cell medium-12">
                            <label>Email:
                            {{form.email}}
                            </label>
                        </div>
                        <div class="cell medium-12">
                            <label>Contraseña:
                            {{form.password}}
                            </label>
                        </div>
                        <button type="submit" class="cell hollow button primary">Acceder</button>
                        <a class="cell hollow button alert" href="{% url 'users_app:user-register' %}">Registrar</a>
                    </form>
                </div>
                <h5 class="text-center"><a href="{% url 'users_app:forgot-password' %}">¿Olvido su contraseña?</a></h5>
            </div>
        </div>
    </div>
</div>

{% endblock content %}