{% extends 'users/base.html' %}
{% block title %} Cambio de contraseña {% endblock title %}

{% block content %}
    {% include 'includes/header.html' %}
        
        <div class="grid-container grid-x">
            <div class="cell large-4 align-center"></div>
            <form class="large-4 align-center" method="POST", autocomplete="new-password">{% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="button warning">Guardar Nueva Contraseña</button>
            </form>
        </div>
    {% include 'includes/footer.html' %}
{% endblock content %}