<!-- head para PC -->
{% extends "favorites/base.html" %}
{% load  static %}

{% block content %}

{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x grid-margin-x align-center" style="margin-top: 1em;">
        <!-- bloque de datos de usuario -->
        <div class="cell small-12 large-4">
            <div class="callout">
                <h5>{{user.full_name}}</h5>
                <p>este es:{{emailModified}} - {{user.ocupation}} - {{user.date_birth}}</p>
                <a href="{% url 'users_app:basic_information_user_update' user.id%}" class="hollow button alert">Editar Datos</a>
                <a href="{% url 'users_app:user-update-password' user.id%}" class="hollow button alert">Cambiar contraseña</a>
                <a href="{% url 'users_app:user-logout' %}" class="hollow button alert"> Salir</a>
                
            </div>
        </div>
        <!-- FIN bloque de datos de usuario -->
        <!-- bloque de articulos favoritos de usuario -->
        <div class="cell large-8 grid-x grid-margin-x align-center">
            <div class="cell small-12">
                {% for i in detail_account %}
                <div class="card-favoritos">
                    <img class="card-favoritos-img" src="{{i.entry.image.url}}">
                    <div class="card-favoritos-body">
                        <h3 class="card-favoritos-body-titulo">{{i.entry.title}}</h3>
                        <p> {{i.entry.resume|truncatechars:160}} </p>
                        <form class="card-favoritos-body-actions" method="POST" action="{% url 'favorites_app:delete-favorites' i.id %}"> {% csrf_token %}
                            <a class="button warning" href="{% url 'urls_entries:Entry' i.entry.slug %}">Ver</a>
                            <button type="submit" class="button alert">Eliminar</button>
                        </form>
                    </div>
                </div>
                {% empty %}
                <h2>
                    No tienes ningun articulo favorito
                </h2>
                {% endfor %}
            </div>
        <!-- FIN bloque de articulos favoritos de usuario -->
        </div>
    </div>
</div>
{% include "includes/footer.html" %}

{% endblock content %}