{% extends "favorites/base.html" %}

{% load static %}

{% block content %}
    {% include 'includes/header.html' %}
    
<div class="grid-container grid-y grid-padding-y">
    <div class="cell large-3 medium-3">
        <div class="callout primary grid-margin-y">
            <div class="grid-y grid-padding-y">
                <h2 class="text-center">Actualizar Datos</h2>
            </div>
        </div>
    <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <ul>
            <li>
            <h3>avatar</h3>
            {{form.avatar_name}}
            </li>
            <li>
            <h3>imagen</h3>
            {{form.avatar_image}}
            </li>
            <li>
            <h3>nombre completo</h3>
            {{form.full_name}}
            </li>
            <li>
            <h3>ocupacion</h3>
            {{form.ocupation}}
            </li>
            <li>
            <h3>genero</h3>
            {{form.genero}}
            </li>
        </ul>
            <div class="grid-x grid-margin-x">
                <div class="cell medium-4 large-5"></div>
                <div class="cell medium-4 large-5">
                    <button class="button primary" type="submit">Guardar Cambios</button>
                </div> 
            </div>
    </form>
    </div>
</div>

    {% include 'includes/footer.html' %}
{% endblock content %}